<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/comics.css" />
  <title>@@@title@@@ - @@@page@@@</title>
</head>
<body>
  <div class="page-header col-xs-12">
    <h1>@@@title@@@ <small>@@@page@@@</small></h1>
  </div>
  <div class="col-xs-12">
    @@@comics@@@
  </div>
  <nav class="text-center col-xs-12">
    <ul class="pagination">
      <li class="@@@first@@@"><a href="@@@prev_page@@@">&laquo; Prev</a></li>
      <li class="@@@last@@@"><a href="@@@next_page@@@">Next &raquo;</a></li>
    </ul>
  </nav>
</body>
</html>
